{% extends "base_login.html" %}

{% block title %} Clonebook — Выполните вход или зарегистрируйтесь {% endblock %}

{% block body %}

    <div class="container">
        <div class="registration">
            <div class="registration__left">
                <div class="headers"></div>
                <img src="image/network.png" alt="Clonebook" class="registration__image">
                <a href="/index.php?site/people" class="link-finder">Найди своих друзей<br>
                    <span class="link-finder-small">(без регистрации)</span></a>
            </div>
            <div class="registration__right">
                <form action="index.php?site/login" method="post" name="user-sign-up" class="registration__form">
                    <div class="field">
                        <div class="field__group">
                            <input type="email" name="login_email" class="field__input" placeholder="Эл. адрес" required>
                            <input type="password" name="login_password" class="field__input" placeholder="Пароль" required>
                            <input type="submit" value="Войти" class="field__login">
                        </div>
                    </div>
                </form>
                <div class="headers">
                    <p class="registration__subtitle">или</p>
                    <h1 class="registration__title">Создать аккаунт</h1>
                    <p class="registration__subtitle">Быстро и легко.</p>
                </div>
                <form action="index.php?site/login" method="post" name="user-sign-up" class="registration__form">
                    <div class="field">
                        <div class="field__group">
                            <input type="text" name="first_name" class="field__input -half" placeholder="Имя" required>
                            <input type="text" name="last_name" class="field__input -half" placeholder="Фамилия" required>
                        </div>
                        <div class="field__group">
                            <input type="email" name="email" id="up-email" class="field__input -full" placeholder="Эл. адрес" required>
                        </div>
                        <div class="field__group">
                            <input type="password" name="password" class="field__input -full" placeholder="Пароль" required>
                        </div>
                        <div class="field__group -flex-column">
                            <div class="field__title">Дата рождения</div>
                            <div class="field__select-group">
                                <select name="birth_day" id="days" class="field__select" required></select>
                                <select name="birth_month" id="months" class="field__select" required></select>
                                <select name="birth_year" id="years" class="field__select" required></select>
                            </div>
                        </div>
                        <div class="field__group -flex-column">
                            <div class="field__title">Пол</div>
                            <div class="field__radio-group">
                                <label for="female" class="gender">
                                    <input type="radio" name="gender" id="female" value="f" required>Женщина
                                </label>
                                <label for="male" class="gender">
                                    <input type="radio" name="gender" id="male" value="m">Мужчина
                                </label>
                            </div>
                        </div>
                        <div class="field__group">
                            <input type="submit" value="Регистрация" class="field__sign-up">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script>
        for (var i = new Date().getFullYear(); i > 1980; i--) {
            $("#years").append($('<option/>').val(i).html(i));
        }
        for (var i = 1; i < 13; i++) {
            $('#months').append($('<option/>').val(i).html(i));
        }
        updateNumberOfDays();
        function updateNumberOfDays() {
            $('#days').html('');
            var month = $('#months').val();
            var year = $('#years').val();
            var days = daysInMonth(month, year);
            for (var i = 1; i < days + 1; i++) {
                $('#days').append($('<option/>').val(i).html(i));
            }
        }
        $('#years, #months').on('change', function() {
            updateNumberOfDays();
        });
        function daysInMonth(month, year) {
            return new Date(year, month, 0).getDate();
        }
    </script>

{% endblock %}