<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="css/style.css" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177083880-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());
          gtag('config', 'UA-177083880-1');
          gtag('config', 'AW-980861296');
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
           ym(66973402, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true,
                ecommerce:"dataLayer"
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/66973402" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
</head>
<body>
    <nav class="menu">
        <a href="/index.php?home/profile" class="menu__link">Мой профиль</a>
        <a href="/index.php?home/messages" class="menu__link">Сообщения</a>
        <a href="/index.php?home/feed" class="menu__link">Лента</a>
        <a href="/index.php?home/friends" class="menu__link">Друзья</a>
        <a href="/index.php?search/people" class="menu__link">Поиск</a>
        <a href="/index.php?site/logout" class="menu__link">Выйти</a>
    </nav>

    {% block body %}

    {% endblock %}

</body>
</html>